<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Sergio Amed «saag10»">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
       display: none !important;
     }
    </style>
</head>
<body ng-controller="IndexController">
  <title>{{subTitle}} - {{title}}</title>
    <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

    <!-- Scripts -->
       <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
       <script
         src="https://code.jquery.com/jquery-3.1.1.min.js"
         integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
         crossorigin="anonymous"></script>       <script
         src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
         async defer
       ></script>
    <!--Scripts -->

    <navbar></navbar>


    <div id="wrapper" class="toggled" ng-cloak>
        <div id="divSlider">
        </div>
      <!-- Sidebar -->
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav" style="font-size: 1.5em;">
                  <li class="sidebar-brand">
                      <a href="#menu-toggle"  id="menu-toggle2" class="navbar-brand fa fa-bars fa-lg" aria-hidden="true" style="margin-left: -0.1em; margin-top: 3%; font-size:1.1em;"></a>
                      <a href="#" >
                        <b style="margin-left: -5px; margin-top: 6px;"><img class="logo-class"  src="{{tl[0].logo}}" ></b>
                      </a>
                  </li>
                  <div class="second-part-wrapper">
                  <li>
                      <a href="/dashboard" ng-hide="isAdmin()"><i class="fa fa-money" aria-hidden="true"></i> {{ 'NAVBAR.DASHBOARD' | translate }}</a>
                      <a href="/data" ng-show="isAdmin()"><i class="fa fa-bar-chart" aria-hidden="true"></i> {{'NAVADMIN.DATA' | translate}}</a>


                  </li>
                  <li>
                      <a href="/reports" ng-hide="isAdmin()"><i class="fa fa-bar-chart" aria-hidden="true"></i> {{ 'NAVBAR.REPORTS' | translate }}</a>
                      <a href="/users" ng-show="isAdmin()"><i class="fa fa-user" aria-hidden="true"></i> {{'NAVADMIN.USERS' | translate}}</a>
                  </li>
                  <li>
                      <a href="/accounts" ng-hide="isAdmin()"><i class="fa fa-briefcase" aria-hidden="true"></i> {{ 'NAVBAR.ACCOUNTS' | translate }}</a>
                      <a href="/notifications" ng-show="isAdmin()"><i class="fa fa-bell" aria-hidden="true"></i> {{'NAVADMIN.NOTIFICATIONS' | translate}}</a>
                  </li>
                  <li>
                      <a href="/calendar" ng-hide="isAdmin()"><i class="fa fa-calendar" aria-hidden="true"></i> {{ 'NAVBAR.CALENDAR' | translate }}</a>
                      <a href="/coupons" ng-show="isAdmin()"><i class="fa fa-ticket" aria-hidden="true"></i> {{'NAVADMIN.COUPONS' | translate}}</a>
                  </li>
                  <li>
                      <a href="/apis" ng-show="isAdmin()"><i class="fa fa-cog" aria-hidden="true"></i> APIs</a>
                  </li>
                  <li>
                      <a href="/blog" ng-show="isAdmin()"><i class="fa fa-th-large" aria-hidden="true"></i> Blog</a>
                  </li>
                  <li>
                    <a href="/plan" ng-show="isAdmin()"><i class="fa fa-money" aria-hidden="true"></i> Plan </a>
                  </li>
                  <li>
                    <a href="/settings" ng-show="isAdmin()"><i class="fa fa-wrench" aria-hidden="true"></i> Settings </a>
                  </li>
              </ul>
          </div>
          <!-- /#sidebar-wrapper -->

    <div ng-view=""></div>
    <footer></footer>

</body>
</html>
