.trash { color:rgb(209, 91, 71); }

body{
	background-color: #EBEBEB;
	top: 0;
	left: 0;
	height: auto !important;
	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}

.non-style-a {
		text-decoration: none;
		color: #878787;
}

.non-style-a:hover {
		text-decoration: none;
		cursor:pointer;
		color: #878787;
}

.non-style-a:active {
		text-decoration: none;
		text-decoration:none;
		cursor:pointer;
		color: #878787;
}

.user-list li {
	display: flex;
	border: none;
	border-bottom: 1px lightgray solid;
	margin-bottom: 0;
}
.user-list li:last-child {
	border-bottom: none;
}
.user-list li .user-info {
	flex-grow: 1;
}
.user-list li .trash {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.confirm-email {
  text-align: center;
  color: #868686;
  line-height: 10em;
}

.table > thead > tr > th {
	vertical-align: baseline !important;
}

 md-checkbox:last-of-type {
	 margin-right: -1.2em;
 }

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
	background: #4284F2;
}

table {
	color: #878787;
}

tbody {
	font-weight: normal;
	text-align: left !important;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  text-align: left;
  vertical-align: middle;
}

.account-dialog {
	display: inline-block;
}

.thumb-account {
	padding: 1em;
}

.color-blue {
	color: #4284F2 !important;
}

.color-black {
		color: #323232 !important;
}

.color-green1 {
	color: #05CB6A !important;
}

.color-green2 {
	color: #60BD6D !important;
}

.color-gray1 {
	color: #EBEBEB !important;
}

.color-gray2 {
	color: #878787 !important;
}

.color-red {
	color: #EA6C56 !important;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
}

input[type=number] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
}

.search {
	margin-bottom: 3em;
}

input {
	border: 1px solid rgba(135, 135, 135, 0.5) !important;
	background-image: none !important	;
	border-radius: 2px !important;
}

input:focus {
		border: 1px solid #4284F2 !important;
}

#toast-container .toast.toast-success {
	background-image: none;
	background: white !important;
	border: 4px solid #05CB6A !important;
	color: #05CB6A !important;
	box-shadow: none !important;
}

textarea {
  border: 1px solid rgba(135, 135, 135, 0.5) !important;
  background-image: none !important	;
  border-radius: 2px !important;
  padding-left: 20px !important;
}

textarea:focus {
  	border: 1px solid #4284F2 !important;
}

.md-datepicker-input {
	border: none !important;
}

.md-icon-button + .md-datepicker-input-container {
	border: 1px solid rgba(135, 135, 135, 0.5) !important;
	background-image: none !important	;
	border-radius: 2px !important;
	padding-left: 20px !important;
	height: 2.7em !important;
	padding-top: 4px !important;
	margin-left: 0px !important;
}

.md-datepicker-triangle-button.md-button.md-icon-button {
	margin-top: 5px !important;
}

.btn-default {
	border: 1px solid rgba(135,135, 135, 0.5) !important;
	color: rgba(135,135, 135, 0.5) !important;
}
