<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">

      <div class="container">
      <div class="col-md-offset-12">
              <md-menu  md-position-mode="target-right target">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <p ><i class="fa fa-ellipsis-v" style="color:gray" aria-hidden="true"></i></p>
                </md-button>
                <md-menu-content width="2">
                  <md-menu-item ng-repeat="role in roles">
                    <md-button ng-click="changeRole(role, users)" ng-if="role != 'nad'">{{role}}</md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>


      <table class="table">
        <thead>
          <tr>
            <th>
              <md-checkbox ng-model="select" ng-click="selectAll()" >
              </md-checkbox>
            </th>
            <th> {{ 'ADMIN.USERS.TABLE.ID' | translate }}</th>
            <th>{{ 'ADMIN.USERS.TABLE.F' | translate }}</th>
            <th>{{ 'ADMIN.USERS.TABLE.L' | translate }}</th>
            <th>{{ 'ADMIN.USERS.TABLE.E' | translate }}</th>
            <th>{{ 'ADMIN.USERS.TABLE.SUD' | translate }}
                <a href="#" ng-click="sortType = 'signupdate'; sortReverse = !sortReverse" class="non-style-a">
                  	&nbsp;<i class="fa fa-long-arrow-up" aria-hidden="true"></i><i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                </a>
            </th>
            <th>{{ 'ADMIN.USERS.TABLE.T' | translate }}</th>
            <th>{{ 'ADMIN.USERS.TABLE.SUBS' | translate }}
              <a href="#" ng-click="sortType = 'subscribed'; sortReverse = !sortReverse" class="non-style-a">
                  &nbsp;<i class="fa fa-long-arrow-up" aria-hidden="true"></i><i class="fa fa-long-arrow-down" aria-hidden="true"></i>
              </a>
            </th>
            <th>{{ 'ADMIN.USERS.TABLE.R' | translate }}
              <a href="#" ng-click="sortType = 'revenue'; sortReverse = !sortReverse" class="non-style-a">
                  &nbsp;<i class="fa fa-long-arrow-up" aria-hidden="true"></i><i class="fa fa-long-arrow-down" aria-hidden="true"></i>
              </a>
            </th>
            <th>{{ 'ADMIN.USERS.TABLE.AC' | translate }}
              <a href="#" ng-click="sortType = 'accounts'; sortReverse = !sortReverse" class="non-style-a">
                &nbsp;<i class="fa fa-long-arrow-up" aria-hidden="true"></i><i class="fa fa-long-arrow-down" aria-hidden="true"></i></a>
            </th>
            <th>{{ 'ADMIN.USERS.TABLE.CO' | translate }}</th>
            <th>{{ 'ADMIN.USERS.TABLE.LAN' | translate }}</th>
            <th>{{ 'ADMIN.USERS.TABLE.A' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users | orderBy:sortType:sortReverse | filter:searchFish" ng-if="user.role != 'admin'">
            <td>
              <md-checkbox ng-model="user.select" >
              </md-checkbox>
            </td>
            <td>{{$index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.registered | date: 'dd/MM/yyyy'}}</td>
            <td>{{user.role | uppercase}}</td>
            <td>{{user.expireIn + "/" + user.registered | timeFilter}}</td>
            <td>${{user.revenue | currency | cero }}</td>
            <td>{{user.networks | countAccounts}}</td>
            <td>{{user.country}}</td>
            <td>{{user.language}}</td>
            <td>
              <a  class="trash"><span ng-if="user.role != 'admin'" class="fa fa-trash-o fa-2x color-gray2"  data-toggle="modal" data-target="#delete" ></span></a>
              <a ng-click="admin.block(user)" class="trash"><span ng-if="user.role != 'admin'" class="fa fa-ban fa-2x color-gray2" aria-hidden="true"></span></a>
          </td>
          <td>
            <div class="modal" id="delete">
              <div class=" account-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                  </div>

                  <div class="modal-body">
                    <h4 class="modal-title">Delete user?</h4>

                  </div>
                  <div class="modal-footer">
                      <button ng-click="admin.delete(user)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                  </div>

                </form>

                </div>
              </div>
              </div>
          </td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
