<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">


      <div class="container">
        <center>  <h3>{{ 'USER.SETTINGS.TITLE' | translate }}</h3> </center>

          <div class="container col-md-2">
            <br>
            <div class="row">
              <span class="file-wrapper">
                <input type="file"  id="photo"  input type="file" ngf-select ng-model="picFile" name="avatar" ng-change="upload(picFile)"
                     accept="image/*" ngf-max-size="4MB" required
                     ngf-model-invalid="errorFile" />
                <span class="button">
                  <img src="assets/images/profile.png"  ng-hide="profilePic || picFile" class="image img-circle size imgnormal">
                  <img src="assets/images/more.svg" ng-hide="profilePic || picFile" class="img-circle size imghover">
                  <img src="{{vm.avatar[0].img}}" ng-show="picFile"  class="img-circle size imgnormal">
                  <img src="assets/images/camera.svg" ng-show="picFile || vm.usuario.img" class="img-circle size imghover">
                  <img src="assets/images/camera.svg" ng-hide="!picFile || !vm.usuario.img" class="img-circle size imghover">
                </span>
            </span>

          <center>
             <div ng-click="vm.delete()">
             <img src="assets/images/cross.svg" ng-show=" picFile" width="12px" style="color:#ec6a52">
             <span ng-show="!picFile" >{{ 'USER.SETTINGS.PHOTO' | translate }}</span>
             <span ng-show="picFile" style="color:#ec6a52">{{ 'USER.SETTINGS.DPHOTO' | translate }}</span>
             </div>
           </center>


          </div>
          </div>
            <div class="container col-md-10">
             <form name="form" role="form" ng-submit="vm.changePassword(form)">
                 <div class="row">
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control input-normal" id="inputKey" ng-model="vm.user.name" placeholder="First Name">
                    </div>
                     <div class="form-group col-md-4">
                        <input type="text" class="form-control input-normal" id="inputValue" ng-model="vm.user.lastname" placeholder="Last Name">
                     </div>
                     <div class="form-group col-md-4">
                        <input type="text" class="form-control input-normal" min="0" max="100" id="inputValue" ng-model="vm.user.email" placeholder="Email">
                     </div>
                 </div>

                 <div class="row">
                   <div class="form-group col-md-4">
                     <input type="password" name="password" class="form-control input-normal" ng-model="vm.user.oldPassword" mongoose-error required placeholder="Current Password">
                   </div>
                      <div class="form-group col-md-4">
                        <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword" ng-minlength="3" required placeholder="New Password">
                      </div>
                    <div class="form-group col-md-4">
                       <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.newPassword" ng-minlength="3"required="" placeholder="Confirm New Password">
                    </div>
                 </div>
                 <p class="help-block"
                    ng-show="form.confirmPassword.$error.match && vm.submitted">
                   Passwords must match.
                 </p>
                 <div class="row">
                   <div class="form-group col-md-8 ">
                   <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary">
                   <a href="#">  {{ 'USER.SETTINGS.SUB' | translate }} </a>
                  </md-checkbox>
                </div>
                   <div class="form-group col-md-4 ">
                      <button type="" class="btn btn-default">Cancel</button>
                      <button type="submit" class="btn btn-tracker-blue">Save</button>
                   </div>
                 </div>
             </form>
       </div>

      </div>
      <button ng-click="changeLanguage('de')" class="btn btn-success" translate="{{ 'USER.SETTINGS.BUTTONS.1' | translate }}"></button>
        <button ng-click="changeLanguage('es')" class="btn btn-info" translate="{{ 'USER.SETTINGS.BUTTONS.2' | translate }}"></button>

    </div>
  </div>
</div>


<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
      <center>  <h3>{{ 'USER.SETTINGS.TITLE2' | translate }}</h3> </center>
{{vm.usuario}}
      <div class="row">
        <div class="container">
         <div class="form-group col-md-12">
           <input type="text" class="form-control input-normal" id="inputKey" ng-model="vm.usuario.street" placeholder="Street Address">
         </div>

         <div class="form-group col-md-3">
           <input type="text" class="form-control input-normal" id="inputKey" ng-model="vm.usuario.city" placeholder="City">
         </div>
         <div class="form-group col-md-3">
           <input type="text" class="form-control input-normal" id="inputKey" ng-model="vm.usuario.state" placeholder="State/Region">
         </div>
         <div class="form-group col-md-3">
           <input type="text" class="form-control input-normal" id="inputKey" ng-model="vm.usuario.pc" placeholder="Postal Code">
         </div>
         <div class="form-group col-md-3">
           <input type="text" class="form-control input-normal" id="inputKey" ng-model="vm.usuario.country" placeholder="Country">
         </div>

         <div class="form-group col-md-4">
           <input type="text" class="form-control input-normal" id="inputKey" ng-model="vm.usuario.phone" placeholder="Phone Number (optional)">
         </div>
         <div class="form-group col-md-4">
           <input type="text" class="form-control input-normal" id="inputKey" ng-model="vm.usuario.business_name" placeholder="Business Name (optional)">
         </div>
         <div class="form-group col-md-4">
           <input type="text" class="form-control input-normal" id="inputKey" ng-model="vm.usuario.tax_id" placeholder="Tax ID (optional)">
         </div>

          <div class="form-group col-md-9 ">
          </div>
         <div class="form-group col-md-3 ">
            <button type="" class="btn btn-default">Cancel</button>
            <button type="submit" ng-click="vm.update(vm.usuario.street, vm.usuario.city, vm.usuario.state, vm.usuario.pc, vm.usuario.country, vm.usuario.phone, vm.usuario.business_name, vm.usuario.tax_id)" class="btn btn-tracker-blue">Save</button>
         </div>

        </div>
      </div>



    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
      <center>  <h3>{{ 'USER.SETTINGS.TITLE3' | translate }}</h3> </center>

  <div class="row">
    <div class="container">
      <div class="form-group col-xs-15 col-xs-2">
        <md-select placeholder="Currency" ng-model="t.name" ng-change="userstats(t.name)" style="min-width: 7em; border: none !important;" >
            <md-option ng-value="t" ng-repeat="t in time">{{t.name}}</md-option>
        </md-select>
      </div>
      <div class="form-group col-xs-15 col-xs-2">
        <md-select placeholder="Language" ng-model="t.name" ng-change="userstats(t.name)" style="min-width: 7em; border: none !important;" >
            <md-option ng-value="t" ng-repeat="t in time">{{t.name}}</md-option>
        </md-select>
      </div>
      <div class="form-group col-xs-15 col-xs-2">
        <md-select placeholder="Time zone" ng-model="t.name" ng-change="userstats(t.name)" style="min-width: 7em; border: none !important;" >
            <md-option ng-value="t" ng-repeat="t in time">{{t.name}}</md-option>
        </md-select>
      </div>
      <div class="form-group col-xs-15 col-xs-2">
        <md-select placeholder="Numbers format" ng-model="t.name" ng-change="userstats(t.name)" style="min-width: 7em; border: none !important;" >
            <md-option ng-value="t" ng-repeat="t in time">{{t.name}}</md-option>
        </md-select>
      </div>
      <div class="form-group col-xs-15 col-xs-2">
        <md-select placeholder="Date format" ng-model="t.name" ng-change="userstats(t.name)" style="min-width: 7em; border: none !important;" >
            <md-option ng-value="t" ng-repeat="t in time">{{t.name}}</md-option>
        </md-select>
      </div>
    </div>
  </div>



    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
      <center>  <h3>{{ 'USER.SETTINGS.TITLE4' | translate }}</h3> </center>
       <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{ 'USER.SETTINGS.AMOUNT' | translate }}</th>
            <th></th>
            <th></th>
            <th>{{ 'USER.SETTINGS.DATE' | translate }}</th>
            <th></th>
            <th></th>
            <th>{{ 'USER.SETTINGS.INVOICE' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in couponsCtrl.data">
            <td>{{$index + 1}}</td>
            <td>{{x.name}}</td>
            <td>{{x.code}}</td>
            <td>{{x.discount}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
