<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">


      <div class="form-group col-xs-1 col-md-1">
        <md-select placeholder="" ng-model="t.name" ng-change="userstats(t.name)" style="min-width: 7em; border: none !important;" >
            <md-option ng-value="t" ng-repeat="t in time">{{t.name}}</md-option>
        </md-select>
      </div>
      <div class="form-group col-xs-4 col-md-3">
        <div class="form-group col-xs-4 col-md-5">
        </div>
      </div>
      <div class="form-group col-xs-7 col-md-4">
        <center> <h3> {{ 'ADMIN.DATA.TITLE' | translate }} </h3> </center>
       </div>

    <div class="col-md-12 col-md-offset-0 thumb-custom">
        <div class="form-group col-xs-15 col-xs-2">
          <span  class="thumbnail one-thumb">
        <p>   {{ 'ADMIN.DATA.THUMBS.TU' | translate }} </p>
        <p><b>{{usersTotal}}</b></p>
        <p><i class="fa fa-caret-up" aria-hidden="true"></i>%</p>
		      </span>
        </div>
        <div class="form-group col-xs-15 col-xs-2">
          <span  class="thumbnail two-thumb">
          <p>   {{ 'ADMIN.DATA.THUMBS.AU' | translate }} </p>
            <p><b>{{usersTotal}}</b></p>
            <p><i class="fa fa-caret-down" aria-hidden="true"></i>%</p>
          </span>
        </div>
        <div class="form-group col-xs-15 col-xs-2">
          <span  class="thumbnail three-thumb">
          <p>   {{ 'ADMIN.DATA.THUMBS.PU' | translate }} </p>
            <p><b>{{paidTotal}}</b></p>
            <p>%</p>
		      </span>
        </div>
        <div class="form-group col-xs-15 col-xs-2">
          <span  class="thumbnail four-thumb">
            <p>   {{ 'ADMIN.DATA.THUMBS.FU' | translate }} </p>
              <p><b>{{freeTotal}}</b></p>
              <p>%</p>
		      </span>
        </div>
        <div class="form-group col-xs-15 col-xs-2">
          <span  class="thumbnail five-thumb">
            <p>  {{ 'ADMIN.DATA.THUMBS.BT' | translate }} </p>
              <p><b>{{betaTotal}}</b></p>
              <p>%</p>
          </span>
        </div>
      </div>

      <canvas id="myUserChart" max-width="100px" min-width="100px" height="100"></canvas>
    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
    <center>  <h3> {{ 'ADMIN.DATA.TITLE2' | translate }}  </h3> </center>

    <div class="col-md-12 col-md-offset-0 thumb-custom">
        <div class="form-group col-xs-3">
          <span  class="thumbnail one-thumb">
            <p>   {{ 'ADMIN.DATA.THUMBS2.TR' | translate }} </p>
              <p><b>{{freeTotal}}</b></p>
              <p>%</p>
		      </span>
        </div>
        <div class="form-group col-xs-3">
          <span  class="thumbnail two-thumb">
            <p>   {{ 'ADMIN.DATA.THUMBS2.MRR' | translate }} </p>
              <p><b>{{freeTotal}}</b></p>
              <p>%</p>
          </span>
        </div>
        <div class="form-group col-xs-3">
          <span  class="thumbnail three-thumb">
            <p>   {{ 'ADMIN.DATA.THUMBS2.AMRRU' | translate }} </p>
              <p><b>{{freeTotal}}</b></p>
              <p>%</p>
		      </span>
        </div>
        <div class="form-group col-xs-3">
          <span  class="thumbnail four-thumb">
            <p>   {{ 'ADMIN.DATA.THUMBS2.LV' | translate }} </p>
              <p><b>{{freeTotal}}</b></p>
              <p>%</p>
		      </span>
        </div>
      </div>

    <canvas id="myChartRevenue" max-width="100px" height="100"></canvas>
    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">


<div class="row">
      <div class="form-group col-xs-1 col-md-1">
        <md-select placeholder="" ng-model="t3.name" ng-change="userStatsOthers(t3.name)" style="min-width: 7em; border: none !important;" >
            <md-option ng-value="t3" ng-repeat="t3 in timeOthers">{{t3.name}}</md-option>
        </md-select>
      </div>
      <div class="form-group col-xs-4 col-md-3">
        <div class="form-group col-xs-4 col-md-5">
        </div>
      </div>
      <div class="form-group col-xs-7 col-md-4">
        <center> <h3> {{ 'ADMIN.DATA.TITLE3' | translate }}</h3> </center>
       </div>

    <div class="col-md-12 col-md-offset-0 thumb-custom">
        <div class="form-group col-xs-3">
          <span  class="thumbnail">
          <p>   {{ 'ADMIN.DATA.THUMBS3.UAC' | translate }}</p>
          <p><b>{{0}}</b></p>
          <p>%</p>
          </span>
        </div>
        <div class="form-group col-xs-3">
          <span  class="thumbnail">
           <p>   {{ 'ADMIN.DATA.THUMBS3.CR' | translate }} </p>
           <p><b>{{0}}%</b></p>
           <p>{{0}}%</p>
          </span>
        </div>
        <div class="form-group col-xs-3">
          <span  class="thumbnail">
          <p>   {{ 'ADMIN.DATA.THUMBS3.FPU' | translate }} </p>
          <p><b>{{freeToPaid}}%</b></p>
          <p>{{freeToPaidRange}}%</p>
          </span>
        </div>
        <div class="form-group col-xs-3">
          <span  class="thumbnail ">
          <p>   {{ 'ADMIN.DATA.THUMBS3.ACL' | translate }} </p>
          <p><b>{{0}}</b></p>
          <p>%</p>
          </span>
        </div>
      </div>

      <div class="col-md-12 col-md-offset-0 thumb-custom">
          <div class="form-group col-xs-3">
            <span  class="thumbnail ">
          <p>   {{ 'ADMIN.DATA.THUMBS3.VSU' | translate }} </p>
          <p><b>{{visitorToSign}}%</b></p>
          <p>{{visitorToSignRange}}%</p>
            </span>
          </div>
          <div class="form-group col-xs-3">
            <span  class="thumbnail">
          <p>   {{ 'ADMIN.DATA.THUMBS3.PU' | translate }} </p>
          <p><b>{{payPalUsers}}</b></p>
          <p>{{payPalUsersRange}}%</p>
            </span>
          </div>
          <div class="form-group col-xs-3">
            <span  class="thumbnail">
            <p>   {{ 'ADMIN.DATA.THUMBS3.CDC' | translate }} </p>
            <p><b>{{cardUsers}}</b></p>
            <p>{{cardUsersRange}}%</p>
            </span>
          </div>
          <div class="form-group col-xs-3">
            <span  class="thumbnail">
            <p>   {{ 'ADMIN.DATA.THUMBS3.BU' | translate }} </p>
            <p><b>{{bitcoinUsers}}</b></p>
            <p>{{bitcoinUsersRange}}%</p>
            </span>
          </div>
        </div>
        <span>  &nbsp; </span>
      </div>

    </div>
  </div>
</div>
