.one-thumb {
  border: 1px solid #05CB6A;
  font-size: 1.2em;

}
.two-thumb {
  border: 1px solid #4284F2;
  font-size: 1.2em;
}
.three-thumb {
  border: 1px solid #d07dcd;
  font-size: 1.2em;
}
.four-thumb {
  border: 1px solid #EA6C56;
  font-size: 1.2em;
}
.five-thumb {
  border: 1px solid #323232;
  font-size: 1.2em;
}

.thumb-custom {
  text-align: center;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
