.network-info {
  text-align: center;
  color: #868686;
}


.btn-tracker {
    background-color: #05CB6A;
    color: #fff !important;
    padding: 1em;
    width: 15em;
}

.btn-tracker:hover, .btn-tracker:focus, .btn-tracker:active {
    background-color: #05CB6A !important;
}


.ulCustom {
  display: inline-flex;
  padding-top: 1em;
  margin:auto;
  text-align: left;

}

.al2{
padding-top: 1em;
}

.control-label{
  display: inline;
}


.margin-auto {
  margin: auto;
}

.apikey b {
  color: #878787;
}

.apikey input {
  margin-bottom: -1em !important;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 800px !important;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
