<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron" ng-if=" networks">
      <center><h3> <b>{{ 'USER.ACCOUNTS.ADDED' | translate }}</b></h3></center>
      <br>
      <div class="container">
            <table class="table" >
          <thead>
            <tr>
              <th>{{ 'USER.ACCOUNTS.TABLE.ID' | translate }}</th>
              <th>{{ 'USER.ACCOUNTS.TABLE.S' | translate }}</th>
              <th>{{ 'USER.ACCOUNTS.TABLE.A' | translate }}</th>
              <th>{{ 'USER.ACCOUNTS.TABLE.AID' | translate }}</th>
              <th>{{ 'USER.ACCOUNTS.TABLE.NID' | translate }}</th>
              <th>{{ 'USER.ACCOUNTS.TABLE.AUTH' | translate }}</th>
              <th>{{ 'USER.ACCOUNTS.TABLE.TAG' | translate }}</th>
              <th>{{ 'USER.ACCOUNTS.TABLE.ST' | translate }}</th>
              <th>{{ 'USER.ACCOUNTS.TABLE.AC' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in accountsCtrl.things" >
              <td>{{$index + 1}}</td>
              <td>{{x.name | uknown}}</td>
              <td>{{x.account | uknown}}</td>
              <td ng-hide='(x.name=="getCake") '>{{x.APIKey | uknown}}</td>

              <td ng-if='(x.name == "hasOffers") || (x.name == "getCake") '>{{x.NetworkID | uknown}}</td>

              <td ng-if='(x.name == "getCake")'>{{x.website | uknown}}</td>
              <td>{{x.auth | uknown}}</td>
              <td>{{x.tag | uknown}}</td>
              <td class="color-green2">ACTIVE</td>
              <td>
                <a ng-click="admin.delete(user)" class="trash"><img src="assets/images/pen.svg" ng-if="user.role != 'admin'" width="22em" style="fill:gray;" class="color-gray2" data-toggle="modal" data-target="#{{x.name | lowercase}}"></a>
                <a ng-click="accountsCtrl.delete(x.tag)" class="trash"><img src="assets/images/trash.svg" ng-if="user.role != 'admin'" width="22em" class="color-gray2" ></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid  ">
  <div class="container-fluid">
    <div class="jumbotron network-info">

      <div ng-if="accountsCtrl.usuario.networks != 0 " style="color:#333"><center><h3> <b>{{ 'USER.ACCOUNTS.TITLE2' | translate }}</b></h3></center></div>
      <div ng-if="accountsCtrl.usuario.networks == 0 "  style="color:#333">
        <center>
          <h3> <b>{{ 'USER.ACCOUNTS.TITLE' | translate }}</b></h3>
          <h5 class="color-gray2"> <b>{{ 'USER.ACCOUNTS.SUB' | translate }} <b></h5>
        </center>
      </div>
      <br>

    <!--  <button ng-click="accountsCtrl.callAmazon()">Click</button> -->

      <div class="container">
        <div class="row col-md-14 search">  <input type="text" name="search" placeholder="Search.." ng-model="search"> </div>
      </div>
      <div class="container" filter-list="search">


        <!-- Adsense -->
        <div>
          <div class="row thumbnail thumb-account">
              <div class="col-md-4 ">
                <img class="media-object" src="assets/images/google_adsense.svg" width="300em">
                <br>
              <div class="pull-left">  URL: <a href="https://www.google.es/adsense/start/" target="_blank" class="color-blue">https://www.google.es/adsense/start/</a></div>
              </div>
              <div class="col-md-4 ulCustom">
                  <div class="margin-auto">
                    <ul class="" style="margin-right:4em">
                      <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.MT' | translate }}: $100</li>
                      <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.PT' | translate }}: NET 25</li>
                      <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.PM' | translate }}: wire</li>
                    </ul>
                  </div>
              </div>
              <div class="col-md-4 btn-padding al2">
                  <button type="button" class="btn btn-tracker" data-toggle="modal" data-target="#adsense">+ {{ 'COMUN.BUTTONS.AD' | translate }}</button>
              </div>

                            <div class="modal" id="adsense">
                            <div class="modal-dialog account-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Add Adsense Account</h4>
                                </div>

                                <div class="modal-body">

                                  <form class="form" name="hasOffers" >
                                  <div class="form-group">
                                     <label for="inputEmail" class="col-md-2 control-label">Pub-ID</label>

                                     <div class="col-md-10">
                                       <input type="text" class="form-control"  ng-model="accountID" placeholder="pub-0000000000000000" >
                                     </div>

                                        <label for="inputEmail" class="col-md-2 control-label">Tag</label>
                                     <div class="col-md-10">
                                       <input type="text" class="form-control"  ng-model="tagA" placeholder="Adsense1" rel="txtTooltip" title="Name of account" data-toggle="tooltip" data-placement="bottom">
                                     </div>
                                   </div>

                                </div>
                                <div class="modal-footer">
                                    <button ng-click="accountsCtrl.addNetworkAdsense(accountID, tagA)" class="btn btn-primary" data-dismiss="modal">Add account</button>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>

                              </form>

                              </div>
                            </div>
                          </div>

          </div>
        </div>

        <!-- Amazon -->
      <div>
        <div class="row thumbnail thumb-account">
            <div class="col-md-4">
              <img class="media-object" src="assets/images/amazon_affiliates.svg" width="300em">
              <br>
              <div class="pull-left"> URL: <a href="https://affiliate-program.amazon.com/" target="_blank" class="color-blue">https://affiliate-program.amazon.com/</a></div>
            </div>
            <div class="col-md-4 ulCustom">
                <div class="margin-auto">
                  <ul class="" >
                    <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.MT' | translate }}: $10.00</li>
                    <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.PT' | translate }}: NET 60</li>
                    <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.PM' | translate }}: Direct Deposit</li>
                  </ul>
                </div>
            </div>
            <div class="col-md-4 btn-padding al2">
                <button type="button" class="btn btn-tracker" data-toggle="modal" data-target="#amazon">+ {{ 'COMUN.BUTTONS.AD' | translate }}</button>
            </div>

            <div class="modal" id="amazon">
            <div class="modal-dialog account-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title">Add Amazon Account</h4>
                </div>

                <div class="modal-body">

                  <form class="form" name="Amazon" >
                  <div class="form-group">
                     <label for="inputEmail" class="col-md-2 control-label">Your email</label>

                     <div class="col-md-10">
                       <input type="text" class="form-control"  ng-model="amazonEmail" placeholder="user@example.com" >
                     </div>
                   </div>

                   <div class="form-group">
                       <label for="inputPassword" class="col-md-2 control-label">Password</label>

                       <div class="col-md-10">
                         <input type="password" class="form-control" ng-model="amazonPass" placeholder="*****">
                       </div>
                     </div>

                     <div class="form-group">
                       <label for="inputPassword" class="col-md-2 control-label">Country</label>
                       <div class="col-md-10">
                         <md-select placeholder="Source" ng-model="countryAmazon" ng-change="tag(source)" style="min-width: 200px;">
                             <md-option ng-value="source" ng-repeat="source in reportsCtrl.source ">{{source}}</md-option>
                           </md-select>
                       </div>
                     </div>

                     <div class="form-group">
                    <label for="inputPassword" class="col-md-2 control-label">Tag</label>
                     <div class="col-md-10">
                       <input type="text" class="form-control"  ng-model="tagAmazon" placeholder="" rel="txtTooltip" >
                     </div>
                   </div>

                </div>
                <div class="modal-footer">
                  <button ng-click="accountsCtrl.addNetworkAmazon(apiKey, netID, country ,tagAmazon)" class="btn btn-primary" data-dismiss="modal">Add account</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

              </form>

              </div>
            </div>
          </div>
        </div>
      </div>

          <!-- HasOffers -->
        <div>
          <div class="row thumbnail thumb-account">
              <div class="col-md-4">
                <img class="media-object" src="assets/images/has_offers.svg" width="225em">
                <br>
              <div class="pull-left">  URL: <a href="http://www.hasoffers.com/" target="_blank" class="color-blue">http://www.hasoffers.com/</a></div>
              </div>
              <div class="col-md-4 ulCustom">
                  <div class="margin-auto">
                    <ul class="" style="margin-right:2em">
                      <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.MT' | translate }}: Variable</li>
                      <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.PT' | translate }}: Variable</li>
                      <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.PM' | translate }}: Variable</li>
                    </ul>
                  </div>
              </div>
              <div class="col-md-4 btn-padding al2">
                  <button type="button" class="btn btn-tracker" data-toggle="modal" data-target="#hasoffers">+ {{ 'COMUN.BUTTONS.AD' | translate }}</button>
              </div>

              <div class="modal" id="hasoffers">
              <div class="modal-dialog account-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Add HasOffers Account</h4>
                  </div>

                  <div class="modal-body">

                    <form class="form" name="hasOffers" >
                    <div class="form-group">
                       <label for="inputEmail" class="col-md-2 control-label">Your API Key</label>

                       <div class="col-md-10">
                         <input type="text" class="form-control"  ng-model="apiKey" placeholder="" >
                       </div>
                     </div>
                     <div class="form-group">
                       <label for="inputPassword" class="col-md-2 control-label">Network ID</label>

                       <div class="col-md-10">
                         <input type="text" class="form-control" ng-model="netID" placeholder="">
                       </div>

                       <label for="inputPassword" class="col-md-2 control-label">Tag</label>
                       <div class="col-md-10">
                         <input type="text" class="form-control"  ng-model="tagHO" placeholder="" rel="txtTooltip" title="Name of account" data-toggle="tooltip" data-placement="bottom">
                       </div>
                     </div>

                  </div>
                  <div class="modal-footer">
                    <button ng-click="accountsCtrl.addNetwork(apiKey, netID, tagHO)" class="btn btn-primary" data-dismiss="modal">Add account</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>

                </form>

                </div>
              </div>
            </div>

          </div>
        </div>

          <!--getCake -->
        <div>
          <div class="row thumbnail thumb-account">
              <div class="col-md-2">
                <img class="media-object img-cake" src="assets/images/cake.svg" width="80em">
                <br>
                    <div class="pull-left">URL: <a href="http://getcake.com/"  class="color-blue">http://getcake.com/</a></div>
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-4 ulCustom">
                  <div class="margin-auto">
                    <ul class="" style="margin-right:2em">
                      <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.MT' | translate }}: Variable</li>
                      <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.PT' | translate }}: Variable</li>
                      <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.PM' | translate }}: Variable</li>
                    </ul>
                  </div>
              </div>
              <div class="col-md-4 btn-padding al2">
                  <button type="button" class="btn btn-tracker" data-toggle="modal" data-target="#getcake">+ {{ 'COMUN.BUTTONS.AD' | translate }}</button>
              </div>

              <div class="modal" id="getcake">
              <div class="modal-dialog account-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Add getCake Account</h4>
                  </div>

                  <div class="modal-body">

                    <form class="form" name="getcake" >

                     <div class="form-group">
                       <label for="inputPassword" class="col-md-2 control-label">Affiliate ID</label>

                       <div class="col-md-10">
                         <input type="text" class="form-control" ng-model="netID" placeholder="0000">
                       </div>
                     </div>
                     <div class="form-group">
                        <label for="inputEmail" class="col-md-2 control-label">API Key</label>

                        <div class="col-md-10">
                          <input type="text" class="form-control"  ng-model="apiKey" placeholder="Api Key" >
                        </div>
                      </div>
                     <div class="form-group">
                       <label for="inputPassword" class="col-md-2 control-label">Network domain</label>
                       <div class="col-md-10">
                         <input type="text" class="form-control" ng-model="website" placeholder="www.domain.com" rel="txtTooltip" >
                       </div>

                       <label for="inputPassword" class="col-md-2 control-label">Tag</label>
                        <div class="col-md-10">
                          <input type="text" class="form-control"  ng-model="tagGetCake" placeholder="getCake1" >
                        </div>

                     </div>

                  </div>
                  <div class="modal-footer">
                    <button ng-click="accountsCtrl.addNetworkGetCake(apiKey, netID, website, tagGetCake)" class="btn btn-primary" data-dismiss="modal">add account</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>

                </form>

                </div>
              </div>
            </div>

          </div>
  </div>

  <!-- PayPal -->
<div>
  <div class="row thumbnail thumb-account">
      <div class="col-md-4">
        <img class="media-object" src="assets/images/paypal.svg" width="250em">
        <br>
        <div class="pull-left">URL: <a href="https://www.paypal.com/es/home" target="_blank" class="color-blue">https://www.paypal.com/es/home</a></div>
      </div>
      <div class="col-md-4 ulCustom">
          <div class="margin-auto">
            <ul class="" style="margin-right:4em">
              <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.MT' | translate }}: N/A</li>
              <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.PT' | translate }}: N/A</li>
              <li class="">{{ 'USER.ACCOUNTS.THRESHOLD.PM' | translate }}: N/A</li>
            </ul>
          </div>
      </div>
      <div class="col-md-4 btn-padding al2">
          <button type="button" class="btn btn-tracker" data-toggle="modal" data-target="#paypal">+ {{ 'COMUN.BUTTONS.AD' | translate }}</button>
      </div>

          <div class="modal" id="paypal">
          <div class="modal-dialog account-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Paypal Account</h4>
              </div>

              <div class="modal-body">

                <form class="form" name="hasOffers" >
                <div class="form-group">

                  <label for="inputPassword" class="col-md-2 control-label">Username</label>
                   <div class="col-md-10">
                     <input type="text" class="form-control"  ng-model="username" placeholder="" rel="txtTooltip" >
                   </div>

                   <label for="inputPassword" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control"  ng-model="password" placeholder="" rel="txtTooltip" >
                    </div>

                  <label for="inputPassword" class="col-md-2 control-label">Signature</label>
                   <div class="col-md-10">
                     <input type="text" class="form-control"  ng-model="signature" placeholder="" rel="txtTooltip" >
                   </div>

                 <label for="inputPassword" class="col-md-2 control-label">Tag</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control"  ng-model="tagPayPal" placeholder="" rel="txtTooltip" >
                  </div>

              </div>

              </div>
              <div class="modal-footer">
                <button ng-click="accountsCtrl.paypal(username, password, signature, tagPayPal)" class="btn btn-primary" data-dismiss="modal">Add account</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>

            </form>

            </div>
          </div>
        </div>

  </div>
</div>
<!-- PayPal -->

      </div>
    </div>
  </div>
</div>
