<div class="body-login">
  <div class="container tittle-login">
      <strong>{{titulo}}</strong>
  </div>

<div class="container">
  <div class="modal-dialog">
    <div class="loginmodal-container">

    <div class="col-sm-12">
      <h1>Log In</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <div class="form-group">

          <input type="text" name="email" ng-class="error" ng-model="vm.user.email" required placeholder="Email Address">
          <input type="password" name="password" ng-class="error" ng-model="vm.user.password" required placeholder="Password">
        </div>

        <div class="login-help">
            <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary">
            <a href="#">  Remember me </a>
           </md-checkbox>
  <a href="#" class="pull-right">Forgot Password?</a>
        </div>

        <div>
          <input type="submit" name="login" class="login loginmodal-submit" value="Log In">
        </div>

      </form>



    </div>
  </div>
  <br>
    <center> <span class="bottom-text">   Don't have an account? <u><a href="/signup"><b>Sign up</b></a> </u></span> </center>
</div>
</div>
</div>
