<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
      <center><h2>{{ 'ADMIN.COUPONS.TITLE' | translate }}</h2></center>
       <div class="container">
        <form name="form" role="form" ng-submit="couponsCtrl.create(form)">
            <div class="row">
               <div class="form-group col-md-3">
                 <input type="text" class="form-control input-normal" id="inputKey" ng-model="couponsCtrl.coupon.name" placeholder="Name">
               </div>
                <div class="form-group col-md-3">
                   <input type="text" class="form-control input-normal" id="inputValue" ng-model="couponsCtrl.coupon.code" placeholder="Code">
                </div>
                <div class="form-group col-md-3">
                   <input type="number" class="form-control input-normal" min="0" max="100" id="inputValue" ng-model="couponsCtrl.coupon.porcent" placeholder="% off">
                </div>
                <div class="form-group col-md-3">
                   <input type="number" class="form-control input-normal" id="inputValue" min="0" ng-model="couponsCtrl.coupon.discount" placeholder="$ off">
                </div>
            </div>

            <div class="row">
              <div class="form-group col-md-3">
                <input type="number" class="form-control input-normal" min="0" id="inputKey" ng-model="couponsCtrl.coupon.duration" placeholder="Duration (days)">
              </div>
               <div class="form-group col-md-3">
                 <md-content>
                   <md-datepicker ng-model="couponsCtrl.coupon.expiration" md-placeholder="Expiry date" style="overflow: hidden"></md-datepicker>
                 </md-content>
               </div>
               <div class="form-group col-md-3">
                  <input type="number" class="form-control input-normal" min="0" id="inputValue" ng-model="couponsCtrl.coupon.limit" placeholder="Usage limit">
               </div>
               <div class="form-group col-md-3">
                  <button type="" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-tracker-blue">Create</button>
               </div>
            </div>
        </form>
  </div>

    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
      <center><h2>{{ 'ADMIN.COUPONS.TITLE2' | translate }}</h2></center>
      <div class="network-info">
            <table class="table">
          <thead>
            <tr>
              <th>{{ 'ADMIN.COUPONS.TABLE.ID' | translate }}</th>
              <th>{{ 'ADMIN.COUPONS.TABLE.N' | translate }}</th>
              <th>{{ 'ADMIN.COUPONS.TABLE.C' | translate }}</th>
              <th>{{ 'ADMIN.COUPONS.TABLE.D' | translate }}</th>
              <th>{{ 'ADMIN.COUPONS.TABLE.CR' | translate }}</th>
              <th>{{ 'ADMIN.COUPONS.TABLE.E' | translate }}</th>
              <th>{{ 'ADMIN.COUPONS.TABLE.DU' | translate }}</th>
              <th>{{ 'ADMIN.COUPONS.TABLE.U' | translate }}</th>
              <th>{{ 'ADMIN.COUPONS.TABLE.UL' | translate }}</th>
              <th>{{ 'ADMIN.COUPONS.TABLE.S' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in couponsCtrl.data">
              <td>{{$index + 1}}</td>
              <td>{{x.name}}</td>
              <td>{{x.code}}</td>
              <td>{{x.discount}}</td>
              <td>{{x.creation}}</td>
              <td>{{x.expiration}}</td>
              <td>{{x.duration}}</td>
              <td>{{x.usage}}</td>
              <td>{{x.limit}}</td>
              <td>{{x.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
