@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-social/bootstrap-social.css';
@import '~bootstrap-material-design/dist/css/bootstrap-material-design.min.css';
@import '~bootstrap-material-design/dist/css/ripples.min.css';
@import '~angular-toastr/dist/angular-toastr.css';
@import '~trumbowyg/dist/ui/trumbowyg.min.css';
@import '~angular-material/angular-material.css';
@import '~angular-material-event-calendar/dist/angular-material-event-calendar.css';
/**
 * Bootstrap Fonts
 */

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('https://fonts.googleapis.com/css?family=Roboto');
  src: url('/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@import '~font-awesome/css/font-awesome.min.css';

/**
 *Font Awesome Fonts
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fonts/font-awesome/fontawesome-webfont.eot');
  src: url('/assets/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.woff') format('woff'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.ttf') format('truetype'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Component styles are injected through gulp */
/* inject:css */
@import 'account/login/login.css';
@import 'accounts/accounts.css';
@import 'admin/admin.css';
@import 'billing-info/billing-info.css';
@import 'blog/blog.css';
@import 'calendar/calendar.css';
@import 'confirm-email/confirm-email.css';
@import 'contact/contact.css';
@import 'coupons/coupons.css';
@import 'dashboard/dashboard.css';
@import 'data/data.css';
@import 'faq/faq.css';
@import 'main/main.css';
@import 'notifications/notifications.css';
@import 'plan/plan.css';
@import 'product/product.css';
@import 'reports/reports.css';
@import 'setting/setting.css';
@import 'support/support.css';
@import 'terms/terms.css';
@import '../components/footer/footer.css';
@import '../components/modal/modal.css';
@import '../components/navbar/simple-sidebar.css';
@import '../components/oauth-buttons/oauth-buttons.css';
/* endinject */
