<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
      <div class="container">
        <center><h2>{{ 'ADMIN.PLANS.TITLE' | translate }}</h2></center>
        <form name="form" role="form" ng-submit="planCtrl.addPlan(form)">

          <div class="form-group col-md-3">
             <input type="text" min="0"  class="form-control input-normal" id="inputValue" ng-model="planCtrl.Plan.id" placeholder="ID" required>
          </div>
          <div class="form-group col-md-3">
             <input type="text" min="0"  class="form-control input-normal" id="inputValue" ng-model="planCtrl.Plan.name" placeholder="Name" required="">
          </div>
          <div class="form-group col-md-3">
             <input type="number" min="0"  class="form-control input-normal" id="inputValue" ng-model="planCtrl.Plan.amount" placeholder="Amount" required="">
          </div>
          <div class="form-group col-md-3">
             <input type="text" min="0"  class="form-control input-normal" id="inputValue" ng-model="planCtrl.Plan.interval" placeholder="Interval" required="">
          </div>
          <div class="form-group col-md-3">
             <input type="text" min="0"  class="form-control input-normal" id="inputValue" ng-model="planCtrl.Plan.currency" placeholder="Currency" required="">
          </div>
          <div class="form-group col-md-3">
             <input type="number" min="0"  class="form-control input-normal" id="inputValue" ng-model="planCtrl.Plan.frequency" placeholder="Frequency" required="">
          </div>
          <div class="form-group col-md-3">
          <button type="submit" class="btn btn-tracker-blue btn-custom-plan">Create</button>
        </div>
        <br>
        </form>


      </div>
    </div>
  </div>
</div>


<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
      <center><h2>{{ 'ADMIN.PLANS.TITLE2' | translate }}</h2></center>
      <div class="container">
            <table class="table">
          <thead>
            <tr>
              <th>{{ 'ADMIN.PLANS.TABLE.ID' | translate }}</th>
              <th>{{ 'ADMIN.PLANS.TABLE.N' | translate }}</th>
              <th>{{ 'ADMIN.PLANS.TABLE.A' | translate }}</th>
              <th>{{ 'ADMIN.PLANS.TABLE.I' | translate }}</th>
              <th>{{ 'ADMIN.PLANS.TABLE.C' | translate }}</th>
              <th>{{ 'ADMIN.PLANS.TABLE.F' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in data">
              <td>{{x.id}}</td>
              <td>{{x.name}}</td>
              <td>{{x.amount}}</td>
              <td>{{x.interval}}</td>
              <td>{{x.currency}}</td>
              <td>{{x.currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
