<nav class="navbar navbar-default" style="background:#4284F2; box-shadow:0px 2px 5px gray;" ng-hide="$ctrl.isHidden()" role="navigation" >
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="#menu-toggle" ng-show="$ctrl.isLoggedIn()" id="menu-toggle" class="navbar-brand fa fa-bars fa-2x" style="font-size:1.4em; color:white; margin-left:1em;" aria-hidden="true"></a>
      <a href="/" class="navbar-brand " style="color:white;"><b><div ng-if="!($ctrl.logo[0].logo)">{{titulo}} </div><img class="logo-class" src="{{$ctrl.logo[0].logo}}" ng-if="$ctrl.logo[0].logo" style="margin-right:-1.1em !important;"></b></a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">

      <ul class="nav navbar-nav navbar-left" ng-show="$ctrl.isLoggedIn()">
        <li >
            <a ng-href=""> <span style="font-size:1.7em; color: rgba(255,255,255,0.2); margin: 0px;">&nbsp;&nbsp; | &nbsp; </span></a>
        </li>
        <li >
        <a href=""><b style="color: white;">{{sub}}</b></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ng-class="{active: $ctrl.isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ng-class="{active: $ctrl.isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="$ctrl.isLoggedIn()">
          <a href="" type="button" data-toggle="dropdown"><img src="assets/images/notification.svg" class="notificationicon"></a>
          <ul class="dropdown-menu">
            <li class="color-black">
            <center>  <b>Notifications {{tl[0].name}}</b></center>
            </li>
          <li ng-repeat="x in $ctrl.things.slice().reverse()" style="color:black" class="dropdown-header thumbnail notification-class color-background-gray1">
            <a href=""><p><b>{{x.title}}</b></p>
            <p>{{x.body}}</p> </a>
          </li>
          </ul>
        </li>
        <li ng-show="$ctrl.isLoggedIn()"><a href="/logout"><img src="assets/images/3-dots.svg" class="dotsicon"></a></li>
        <li ng-show="$ctrl.isLoggedIn()" ng-class="{active: $ctrl.isActive('/profile')}"><a href="/profile"><img src="assets/images/avatar.svg" class="avataricon" ng-show="$ctrl.avatar[0].img === null || $ctrl.usuario.img === null " ng-hide="$ctrl.avatar[0].img != null || $ctrl.usuario.img != null "><img ng-src="{{$ctrl.avatar[0].img || $ctrl.usuario.img}}" class="img-circle-avatar size class="avataricon""  ng-show="$ctrl.avatar[0].img != null || $ctrl.usuario.img != null " ng-hide="$ctrl.avatar[0].img == null || $ctrl.usuario.img == null "></a></li>
      </ul>
    </div>
</nav>
