/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

.logo-class {
  width: 8em;
  height: 2em;
}

.notification-class {
  margin: 1em;
}

.notificationicon {
  width: 1.7em;
}

.dotsicon {
  width: 0.4em;
}

.avataricon {
  width: 1.7em;
}

.navbar-right {
    margin-right: 1em;
}

.dropdown-menu {
  overflow: scroll;
  max-height: 40em;
  overflow-x: hidden;
}

.img-circle-avatar  {
    padding: 0px !important;
    width: 2em;
    border-radius: 50%;
    max-width: 130px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.second-part-wrapper {
    word-spacing: 0.2em;
    font-weight: bolder;
}

.second-part-wrapper li{
    margin: 0 0 10px;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #868686;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #323232;
    background: rgba(134,134,134,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #868686;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #323232;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


.jumbotron {
  box-shadow: 0px 0px 0px 0 rgba(255, 255, 255, 0.1),0 1px 9px 0 rgba(0, 0, 0, 0.19) !important;
}


#divSlider {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 111;
      background-color: #000;
      opacity: 0.5;
      width: 100%;
      height: 100%;
}
