<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
      <md-event-calendar
      auto-height="40"
      ng-model="selected"
      md-events="events"
      md-event-click="eventClicked($selectedEvent)"
      md-create-event-click="createClicked($date)"
      md-label="title"
      md-show-create-link
      md-create-disabled="dis"
    >
      <md-event-calendar-header>
        <div flex></div>
        <div class="col-xs-1">
        <md-event-calendar-prev ></md-event-calendar-prev>
        </div>
        <div class="col-xs-12">
        <md-event-calendar-title></md-event-calendar-title>
        </div>
        <div class="col-xs-1">
        <md-event-calendar-next></md-event-calendar-next>
        </div>
      </md-event-calendar-header>
    </md-event-calendar>
    </div>
  </div>
</div>
