.md-center {
  background: white !important;
  color: #878787 !important;
  font-weight: bold !important;
}

.md-event-calendar-month-row-header {
  background: white !important;
  color: #878787 !important;
  font-size: 1.4em;
}

md-event-calendar._md.md-primary md-event-calendar-header md-event-calendar-next .md-arrow svg, md-event-calendar._md.md-primary md-event-calendar-header md-event-calendar-prev .md-arrow svg {
  fill: rgba(135, 135, 135, 0.5);
}

md-event-calendar md-event-calendar-header md-event-calendar-title {
  font-weight: bold !important;
  color: #878787 !important;
}

md-event-calendar-prev {
  width: 5em;
}

md-event-calendar._md .md-event-calendar-cell-event.md-selected {
  background: #4284F2 !important;
}

md-event-calendar._md .md-event-calendar-cell-event.md-selected.md-continue-right:after, md-event-calendar._md .md-event-calendar-cell-event.md-selected.md-start-right:after {
  border-left-color: white !important;
}

md-event-calendar._md .md-event-calendar-cell-event.md-selected.md-continue-left:after, md-event-calendar._md .md-event-calendar-cell-event.md-selected.md-end-left:after {
    border-right-color: white !important;
}
