<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">

     <div class="row framedash">
      <div class="form-group col-xs-3 col-xs-1">
        <md-select placeholder="" ng-model="time"  style="min-width: 7em; border: none !important;" >
            <md-option ng-value="t" ng-repeat="t in time">{{t.name}}</md-option>
        </md-select>
        </div>
        <div class="form-group  col-xs-1">
        <md-select placeholder="Breakdown" ng-model="break"  style="min-width: 5em; border: none !important;">
          <md-option ng-value="b" ng-repeat="b in break">{{b.name}}</md-option>
        </md-select>
      </div>
    </div>

  <canvas id="myChart" max-width="100px" height="100"></canvas>
  <center>
    <button class="btn btn-raised btn-default color-background-blue overview-button"><i class="fa fa-check-circle" aria-hidden="true"></i>{{ 'COMUN.CHARTS.I' | translate }}</button>
    <button class="btn btn-raised btn-default color-background-red overview-button"><i class="fa fa-check-circle" aria-hidden="true"></i>{{ 'COMUN.CHARTS.E' | translate }}</button>
    <button class="btn btn-raised btn-default color-background-green overview-button"><i class="fa fa-check-circle" aria-hidden="true"></i>{{ 'COMUN.CHARTS.P' | translate }}</button>
  </center>
    <button class="btn btn-raised btn-default overview-button">Today's profit</button>
    <button class="btn btn-raised btn-default overview-button">Yesterday's profit</button>
    <button class="btn btn-raised btn-default overview-button">Last 7 days profit</button>
    <button class="btn btn-raised btn-default overview-button">Last 30 days income</button>
    <button class="btn btn-raised btn-default overview-button">Last 30 days expenses </button>
    <button class="btn btn-raised btn-default overview-button">Last 30 days profit</button>
    <button class="btn btn-raised btn-default overview-button">Total profit</button>
     </div>
    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">

      <div class="container">
          <div class="row">

          <div class="form-group col-xs-1 col-md-1">
            <md-select placeholder="" ng-model="t.name" ng-change="userstats(t.name)" style="min-width: 7em; border: none !important;" >
                <md-option ng-value="t" ng-repeat="t in time">{{t.name}}</md-option>
            </md-select>
          </div>
          <div class="form-group col-xs-4 col-md-3">
            <div class="form-group col-xs-4 col-md-5">
            </div>
          </div>
          <div class="form-group col-xs-7 col-md-4">
            <center><h2>{{ 'USER.OVERVIEW.TITLE2' | translate }}</h2></center>
           </div>

        </div>
        <table class="table">
         <thead>
           <tr>
             <th>ID</th>
             <th>Source</th>
             <th>Income</th>
             <th>Expenses</th>
             <th>Profit</th>
           </tr>
         </thead>
         <tbody>
           <tr ng-repeat="x in couponsCtrl.data">
             <td>{{$index + 1}}</td>
             <td>{{x.name}}</td>
             <td>{{x.code}}</td>
             <td>{{x.discount}}</td>
           </tr>
         </tbody>
       </table>
     </div>

    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
      <center><h2>{{ 'USER.OVERVIEW.TITLE3' | translate }}</h2></center>
    </div>
  </div>
</div>
