.overview-button {
  height: 4em;
  background: none !important;
  box-shadow: 0 0 !important;
  border: 1px solid #b7b6b6;
  font-weight: normal !important;
  font-size: smaller !important;
}

.framedash {
  margin-left: 1em;
}
