<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
      <center><h3><b>{{ 'ADMIN.NOTIFICATIONS.TITLE' | translate }}</b></h3></center>
            <div class="container">
             <form name="form" role="form" ng-submit="notificationsCtrl.create(form)">

                    <div class="form-group col-md-6">
                      <input type="text" class="form-control input-normal" id="title" ng-model="notificationsCtrl.not.title" placeholder="Title">
                    </div>
                     <div class="form-group col-md-3">
                       <md-datepicker ng-model="notificationsCtrl.not.date" md-placeholder="Enter date"></md-datepicker>
                     </div>
                     <div class="form-group col-md-3">
                        <input type="number" class="form-control input-normal" min="0" id="hour" ng-model="notificationsCtrl.not.hour" placeholder="Hour">
                     </div>

                   <div class="form-group col-md-12 quit-space">
                     <textarea class="form-control" ng-model="notificationsCtrl.not.body" placeholder="Body" rows="5" id="body"></textarea>
                   </div>
                    <div class="form-group col-md-3 pull-right">
                       <button type="reset" class="btn btn-default">Cancel</button>
                       <button type="submit" class="btn btn-tracker-blue">Send</button>
                    </div>

             </form>
       </div>

    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
      <center><h3><b>{{ 'ADMIN.NOTIFICATIONS.TITLE2' | translate }}</b></h3></center>
      <div class=" network-info">
            <table class="table">
          <thead>
            <tr>
              <th>{{ 'ADMIN.NOTIFICATIONS.TABLE.ID' | translate }}</th>
              <th>{{ 'ADMIN.NOTIFICATIONS.TABLE.T' | translate }}</th>
              <th>{{ 'ADMIN.NOTIFICATIONS.TABLE.B' | translate }}</th>
              <th>{{ 'ADMIN.NOTIFICATIONS.TABLE.D' | translate }}</th>
              <th>{{ 'ADMIN.NOTIFICATIONS.TABLE.H' | translate }}</th>
              <th>{{ 'ADMIN.NOTIFICATIONS.TABLE.O' | translate }}</th>
              <th>{{ 'ADMIN.NOTIFICATIONS.TABLE.OR' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in notificationsCtrl.things">
              <td>{{$index + 1}}</td>
              <td>{{x.title}}</td>
              <td>{{x.body}}</td>
              <td>{{x.date}}</td>
              <td>{{x.hour}}</td>
              <td>{{x.openings | cero}}</td>
              <td>{{}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
