<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
      <h2> Title: {{settingCtrl.tl[0].name}} </h2>
      <div class="row">
        <div class="col-sm-4">

          <input type="text" class="form-control input-normal" placeholder="Site Title" ng-model="title" id="i5">
        </div>
        <div class="col-sm-3">
        <button class="btn btn-tracker-blue" style="margin-top:0em;" type="submit" ng-hide="settingCtrl.tl[0].name" ng-click="settingCtrl.addTitle(title)">Agregar </button>
        <button class="btn btn-tracker-blue" style="margin-top:0em;" type="submit" ng-show="settingCtrl.tl[0].name" ng-click="settingCtrl.modifyTitle(title, settingCtrl.tl[0]._id)">Modificar </button>
      </div>
      <div class="col-sm-1">
      <span> <h4>Logo</h4> </span>
    </div>
      <div class="col-sm-3">
      <input input type="file" style="position: static !important; margin-top:0em; opacity:1; font-size:1em;" class="btn btn-tracker-blue" ngf-select ng-model="picFile" name="avatar" ng-change="upload(picFile)"
             accept="image/*" ngf-max-size="4MB" required
             ngf-model-invalid="errorFile"></sub></p>
           </div>
    </div>

    </div>
  </div>
</div>
