.custom-container {
  background-color: white;
  box-shadow: 1px 1px 5px 1px gray;
}

.billing-info {
  text-align: center;
  color: #868686;
  line-height: 10em;
}

.btn-confirm {
  width: 50em;
  height: 3.5em;
}

.img-confirm {
  padding-top: 4em;
  padding-bottom: 4em;
}
