<div class="container-fluid ">

    <div class="container-fluid">
        <div class="jumbotron confirm-email">
      <h1>Welcome to Tracking App.</h1>

      <div class="container">
      <img class="img-confirm" src="/assets/images/welcome.svg">
      </div>
      <h2 class="">Confirm your email address </h2>

      <h4 class="">Confirm your email addres by clicking the verification link we just sent you</h4>

      <button href="" class="btn color-background-green2 btn-confirm">Resend verification </button>

    </div>
    </div>

</div>
