<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
        <center><h3><b>Tokens</b></h3></center>
        <br>

      <div class="row apikey">
          <div class="container">
        <div class="col-sm-6">

      <form class="form" name="form" ng-submit="admin.call(form)">

        <b>PAYPAL</b>
        <div class="form-group label-floating">
            <input type="text" class="form-control input-normal" ng-model="admin.client_id" placeholder="Client id" id="i5">
            <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
          </div>
          <span ng-model="admin._id">
          <div class="form-group label-floating">
              <input type="text" class="form-control input-normal" ng-model="admin.secret" placeholder="Secret" id="i5">
              <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
            </div>
            <br>


              <b>ADSENSE</b>
                <div class="form-group label-floating">
                    <input type="text" class="form-control input-normal" placeholder="Secret key" ng-model="admin.secret_adsense" id="i5">
                    <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
                  </div>
                  <span ng-model="admin._id">
                  <div class="form-group label-floating">
                      <input type="text" class="form-control input-normal" placeholder="Client ID" ng-model="admin.client_id_adsense" id="i5">
                      <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
                    </div>


              <br>
              <b>RECAPTCHA</b>
              <div class="form-group label-floating">
                  <input type="text" class="form-control input-normal" ng-model="admin.Rkey" placeholder="Site Key" id="i5">
                  <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
                </div>

        </div>

        <div class="row">

          <div class="col-sm-6">
          <b>STRIPE</b>
            <div class="form-group label-floating">
                <input type="text" class="form-control input-normal" ng-model="admin.secretToken" id="i5" placeholder="Secret Key">
                <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
              </div>
              <span ng-model="admin._id">
              <div class="form-group label-floating">
                  <input type="text" class="form-control input-normal" ng-model="admin.publicToken" id="i5" placeholder="Publishable Key">
                  <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
                </div>
              </div>
                        <div class="col-sm-6">
                          <br>
                          <b>AMAZON</b>

                          <div class="form-group label-floating">
                              <input type="text" class="form-control input-normal" placeholder="AWS secret access key" ng-model="admin.secret_amazon" id="i5">
                              <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
                            </div>
                            <span ng-model="admin._id">
                            <div class="form-group label-floating">
                                <input type="text" class="form-control input-normal" placeholder="AWS access key id" ng-model="admin.key_id_amazon" id="i5">
                                <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
                              </div>

                          </div>


          <div class="col-sm-6 pull-right">
            <br>
            <br>
            <div class="col-sm-6">
            </div>
              <button class="btn btn-default" type="reset">Cancel</button>
            <button class="btn btn-tracker-blue" type="submit" ng-click="admin.addApiKeys()">Agregar </button>
          </div>
        </div>

      </form>

<br>

      </div>
</div>
    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
        <center><h3><b>Status</b></h3></center>
        <div class="container">
          <hr>
          <div class="col-md-12">
            <div class="col-sm-6">
              <img class="media-object" src="assets/images/google_adsense.svg" width="200em">
            </div>
            <div class="col-sm-5">
              <h4 class="color-gray2"><i class="fa fa-circle color-green1" aria-hidden="true"></i>ACTIVE </h4>
            </div>
            <div class="col-sm-1">
              <i class="fa fa-refresh fa-2x color-gray2" aria-hidden="true"></i>
            </div>
        </div>

          <br>
        <div class="col-md-12">
          <hr>
          <div class="col-sm-6">
            <img class="media-object" src="assets/images/has_offers.svg" width="150em">
          </div>
          <div class="col-sm-5">
              <h4 class="color-gray2"><i class="fa fa-circle color-green1" aria-hidden="true"></i>ACTIVE </h4>
          </div>
          <div class="col-sm-1">
              <i class="fa fa-refresh fa-2x color-gray2" aria-hidden="true"></i>
          </div>
        </div>

          <br>

        <div class="col-md-12">
          <hr>
          <div class="col-sm-6">
            <img class="media-object" src="assets/images/amazon_affiliates.svg" width="200em">
          </div>
          <div class="col-sm-5">
            <h4 class="color-gray2"><i class="fa fa-circle color-green1" aria-hidden="true"></i>ACTIVE </h4>
          </div>
          <div class="col-sm-1">
              <i class="fa fa-refresh fa-2x color-gray2" aria-hidden="true"></i>
          </div>
        </div>
        <br>
      <div class="col-md-12">
        <hr>
          <div class="col-sm-6">
            <img class="media-object" src="assets/images/paypal.svg" width="150em">
          </div>
          <div class="col-sm-5">
              <h4 class="color-gray2"><i class="fa fa-circle color-green1" aria-hidden="true"></i>ACTIVE </h4>
          </div>
          <div class="col-sm-1">
              <i class="fa fa-refresh fa-2x color-gray2" aria-hidden="true"></i>
          </div>
      </div>
      <br>
      <div class="col-md-12">
        <hr>
          <div class="col-sm-6">
            <img class="media-object" src="assets/images/cake.svg" width="50em">
          </div>
          <div class="col-sm-5">
              <h4 class="color-gray2"><i class="fa fa-circle color-green1" aria-hidden="true"></i>ACTIVE </h4>
          </div>
          <div class="col-sm-1">
              <i class="fa fa-refresh fa-2x color-gray2" aria-hidden="true"></i>
          </div>
      </div>

        </div>
    </div>
  </div>
</div>
