<div class="body-login">

  <div class="container tittle-login">
      <strong>Tracking App</strong>
  </div>

<div class="container">
  <div class="modal-dialog">
    <div class="loginmodal-container">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.registerFree(form)" novalidate>



        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <input type="text" name="email" ng-model="vm.user.email"
                 required
                 mongoose-error placeholder="Email Address"/>

          <input type="password" name="password"  ng-model="vm.user.password"
                          ng-minlength="3"
                          required
                          mongoose-error placeholder="Password"/>
              <div
                  vc-recaptcha
                  ng-model="vm.captcha"
                  theme="'light'"
                  size="normal"
                  type="'image'"
                  key="Rkey"
                  required
              ></div>




          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">

          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div>
          <input type="submit" name="login" class="login loginmodal-submit" value="Login">
        </div>


      </form>
    </div>
   </div>
     <center> <span class="bottom-text">   Already have an account? <u><a href="/login">Log in </a> </u></span> </center>
  </div>
</div>
</div>
