<div class="body-login">

  <div class="container tittle-login">
      <strong>{{titulo}}</strong> 
  </div>

<div class="container">
  <div class="modal-dialog">
    <div class="loginmodal-container">
    <div class="col-sm-12">
      <h1>Sign Up</h1>

    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>



        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <input type="text"  ng-class="error" name="email" ng-model="vm.user.email"
                 required
                 mongoose-error placeholder="Email Address"/>

          <input type="password"  ng-class="error" name="password"  ng-model="vm.user.password"
                          ng-minlength="3"
                          required
                          mongoose-error placeholder="Password"/>
              <div
                  vc-recaptcha
                  ng-model="vm.captcha"
                  theme="'light'"
                  size="normal"
                  type="'image'"
                  key="Rkey"
                  required
              ></div>




          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>


        <div>
          <input type="submit" name="login" class="login loginmodal-submit" value="Sign Up">
        </div>

      </form>
    </div>
   </div>
   <br>
  <center> <span class="bottom-text">   Already have an account? <u><a href="/login"><b>Log in</b> </a> </u></span> </center>
  </div>
</div>
</div>
