.btn-tracker-blue {
    background-color: #4284F2;
    color: #fff !important;
}

.md-datepicker-button {
  display: none;
}

.md-datepicker-calendar-pane {
  z-index: 1200
}

.modal-reports {
  top: 17%;
  left: 17%;
}


.modal-content-reports {
    width: 60%;
}


.content-md {
  background: white;
}

md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
  border: 1px solid rgba(135,135, 135, 0.5) !important;
  padding: 0.3em;
}

md-select.md-default-theme .md-select-value.md-select-placeholder, md-select:focus .md-select-value.md-select-placeholder {
  border: 1px solid #4284F2 !important;
}


.color-background-blue {
  background: #4284F2 !important;
  color: white !important;
}

.color-background-red {
  background: #EA6C56 !important;
  color: white !important;
}

.color-background-green {
  background: #60BD6D !important;
  color: white !important;
}

.color-background-green2 {
  background: #05CB6A !important;
  color: white !important;
}

.color-background-gray2 {
  	background-color: #878787 !important;
}

.color-background-gray1 {
   background-color: #EBEBEB !important;
}
