<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron">
      <center><h3><b>{{ 'USER.REPORTS.TITLE' | translate }}</b></h3></center>
        <div class="row">
            <div class="form-group col-xs-2 col-xs-15 color-gray2">
              <md-select placeholder="Source" ng-model="source" ng-change="tag(source)" style="min-width: 200px;">
                  <md-option ng-value="source" ng-repeat="source in reportsCtrl.source ">{{source}}</md-option>
                </md-select>
            </div>
            <div class="form-group col-xs-2 col-xs-15">
              <md-select placeholder="Tag" ng-model="tag"  style="min-width: 200px;">
                  <md-option ng-value="tag" ng-repeat="tag in reportsCtrl.tags track by $index">{{tag}}</md-option>
                </md-select>
            </div>
            <div class="form-group col-xs-2 col-xs-15">
              <md-select placeholder="Report type" ng-model="type"  style="min-width: 200px;">
                  <md-option ng-value="type" ng-repeat="type in type_report">{{type.name}}</md-option>
                </md-select>
            </div>
            <div class="form-group col-xs-2 col-xs-15" >
              <md-select placeholder="{{phframe}}" ng-model="frame"  style="min-width: 200px;" ng-change="customRange()">
                  <md-option ng-value="frame" ng-repeat="frame in time_frame">{{frame.name}}</md-option>
                  <md-option data-toggle="modal" data-target="#datePicker">Custom</md-option>
                </md-select>
            </div>
            <div class="form-group col-xs-2 col-xs-15">
              <md-select placeholder="Breakdown" ng-model="breakdown"  style="min-width: 200px;">
                  <md-option ng-value="breakdown" ng-repeat="breakdown in _breakdown">{{breakdown.name}}</md-option>
                </md-select>
            </div>
        </div>

          <div class="col-md-12 col-md-offset-9">
            <div class="col-md-4 btn-padding">
                <button type="button" class="btn btn-default" ng-click="reportsCtrl.cancel()" >CANCEL</button>
                <button type="button" class="btn btn-tracker-blue" data-toggle="modal" ng-click="reportsCtrl.filter(source, tag, type, frame, breakdown)">FILTER</button>
            </div>
          </div>

    <div >
      <canvas id="chartReports" max-width="100px" height="100"></canvas>
      <center>
        <button class="btn btn-raised btn-default color-background-blue overview-button"><i class="fa fa-check-circle" aria-hidden="true"></i>{{ 'COMUN.CHARTS.I' | translate }}</button>
        <button class="btn btn-raised btn-default color-background-red overview-button"><i class="fa fa-check-circle" aria-hidden="true"></i>{{ 'COMUN.CHARTS.E' | translate }}</button>
        <button class="btn btn-raised btn-default color-background-green overview-button"><i class="fa fa-check-circle" aria-hidden="true"></i>{{ 'COMUN.CHARTS.P' | translate }}</button>
      </center>
    </div>

    <div class="">
      <button class="btn btn-default "><i class="fa fa-filter color-gray2" aria-hidden="true"></i><span class="color-gray2">Filter</span></button>
      <button class="btn btn-default "><i class="fa fa-line-chart color-gray2" aria-hidden="true"></i><span class="color-gray2">Compare</span></button>
      <button class="btn btn-default "><i class="fa fa-download color-gray2" aria-hidden="true"></i></button>
    </div>

    <table class="table">
  <thead>
    <tr>
      <th>{{ 'USER.REPORTS.TABLE.D' | translate }}</th>
      <th>{{ 'USER.REPORTS.TABLE.I' | translate }}</th>
      <th>{{ 'USER.REPORTS.TABLE.C' | translate }}</th>
      <th>{{ 'USER.REPORTS.TABLE.CTR' | translate }}</th>
      <th>{{ 'USER.REPORTS.TABLE.CPC' | translate }}</th>
      <th>{{ 'USER.REPORTS.TABLE.IRPM' | translate }}</th>
      <th>{{ 'USER.REPORTS.TABLE.AV' | translate }}</th>
      <th>{{ 'USER.REPORTS.TABLE.EE' | translate }}</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{}}</td>

    </tr>
  </tbody>
</table>

    </div>
  </div>
</div>

<div class="modal modal-reports" id="datePicker" >
<div class="modal-dialog account-dialog">
  <div class="modal-content modal-content-reports">
    <center>
    <div class="modal-header">
      <h4 class="modal-title">Custom Range</h4>
    </div>
    <hr>
    <div class="modal-body">

    <md-content layout-padding class="content-md">
        <div layout-gt-xs="row col-md-12">
           <div flex-gt-xs>
              <label>Since</label> <md-datepicker ng-model="begin" md-placeholder="Enter date"></md-datepicker>
           </div>
         </div>
         <div layout-gt-xs="row">
            <div flex-gt-xs>
               <label>Until</label> <md-datepicker ng-model="end" md-placeholder="Enter date"></md-datepicker>
            </div>
        </div>
   </md-content>
   <hr>
   <button type="reset" class="btn btn-default" class="close" data-dismiss="modal" aria-hidden="true" >CANCEL</button>
   <button type="button" class="btn btn-tracker-blue" data-toggle="modal" data-dismiss="modal" aria-hidden="true"  ng-click="custom(begin, end)">ACCEPT</button>
    </div>
</center>
  </div>
</div>
</div>
