<div class="container-fluid ">
  <div class="container-fluid">
    <div class="jumbotron ">

<center>
    <div style="max-width: 50%;">
        <div class="form-group col-md-4">
          <div class="circle-badge" >
              <strong>1</strong>
            </div> Confirm email
        </div>
        <div class="form-group col-md-4">
          <div class="circle-badge" style="background:#4284F2 !important; color: white;">
              <strong>2</strong>
            </div> Billing info
        </div>
        <div class="form-group col-md-4">
          <div class="circle-badge" >
              <strong>3</strong>
            </div> Start Tracking
        </div>
  </div>
  </center>

  <hr style="width:100%; background: #e4e4e4; border: 1px;">
  <center>  <h2> Billing info </h2> </center>

      <br>
<center>

              <ul class="nav nav-tabs col-md-6 col-md-offset-3" role="tablist">
                  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Credit / Debit card</a></li>
                  <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">PayPal</a></li>
                  <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Bitcoin</a></li>
              </ul>


</center>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                        <center>
                        <form id="payment-form" role="form" name="form" autocomplete="on"  ng-submit="billingInfoCtrl.billingCard(form)" style="max-width: 50%;">

                              <div class="form-group col-md-12">
                            <div class="row pull-left">Card details</div>
                          </div>
                                <div class="form-group col-md-5">
                                 <input type="tel" class="form-control card-number cc-number" ng-model="billingInfoCtrl.billing.card" data-stripe="number" autocomplete="cc-number" placeholder="Card number" required>
                               </div>
                               <div class="form-group col-md-3">
                                 <input type="tel" class="form-control cc-cvc card-cvc" ng-model="billingInfoCtrl.billing.cvc" data-stripe="cvc" autocomplete="off" placeholder="CVC" required>
                               </div>
                               <div class="form-group col-md-2">
                                 <input type="text" data-stripe="exp-month" ng-model="billingInfoCtrl.billing.mm" placeholder="MM" class="card-expiry-month form-control" required>
                               </div>
                               <div class="form-group col-md-2">
                                 <input type="text" data-stripe="exp-month" ng-model="billingInfoCtrl.billing.year" placeholder="YYYY" class="card-expiry-month form-control" required>
                               </div>
                              <div class="form-group col-md-12">
                               <span><div class="row pull-left">Billing address</div></span>
                             </div>

                               <div class="form-group col-md-6">
                                <input type="tel" class="form-control card-number cc-number" ng-model="billingInfoCtrl.billing.name" data-stripe="number" autocomplete="cc-number" placeholder="First Name" required>
                              </div>
                              <div class="form-group col-md-6">
                                <input type="tel" class="form-control cc-cvc card-cvc" ng-model="billingInfoCtrl.billing.lastname" data-stripe="cvc" autocomplete="off" placeholder="Last Name" required>
                              </div>
                              <div class="form-group col-md-12">
                                <input type="text" data-stripe="exp-month" ng-model="billingInfoCtrl.billing.street" placeholder="Street Address" class="card-expiry-month form-control" required>
                              </div>
                              <div class="form-group col-md-4">
                                <input type="text" data-stripe="exp-month" ng-model="billingInfoCtrl.billing.city" placeholder="City" class="card-expiry-month form-control" required>
                              </div>
                              <div class="form-group col-md-4">
                                <input type="text" data-stripe="exp-month" ng-model="billingInfoCtrl.billing.state" placeholder="State / Region" class="card-expiry-month form-control" required>
                              </div>
                              <div class="form-group col-md-4">
                                <input type="text" data-stripe="exp-month" ng-model="billingInfoCtrl.billing.pc" placeholder="Postal Code" class="card-expiry-month form-control" required>
                              </div>

                              <div class="form-group col-md-4">
                              </div>
                              <div class="form-group col-md-4">

                                <input type="text" data-stripe="exp-month" ng-model="billingInfoCtrl.billing.country" placeholder="Country" class="card-expiry-month form-control" required>

                              </div>


                               <input style="display:none" name="productAmount" value="{{product.amount}}">
                               <input style="display:none" name="productName" value="{{product.name}}">
                               <input style="display:none" name="productID" value="{{product._id.toString()}}">
                       <button type="submit" class="btn btn-default submit-button btn-block  button-billing">Save Billing Info</button>
                     </form>
                   </center>
            </div>


            <div role="tabpanel" class="tab-pane" id="profile">
              <form name="bitcoin-form" ng-submit="billingInfoCtrl.paypal()">
              <input type="tel" class="form-control card-number cc-number" ng-model="billingInfoCtrl.billing.bitcoin" data-stripe="number" autocomplete="cc-number" placeholder="example@example.com" required>

              <button type="submit" class="btn btn-default submit-button btn-block">Submit</button>

            </form>
            </div>

            <div role="tabpanel" class="tab-pane" id="messages">
              <form name="bitcoin-form" ng-submit="billingInfoCtrl.bitcoin(bitcoin-form)">
              <input type="tel" class="form-control card-number cc-number" ng-model="billingInfoCtrl.billing.bitcoin" data-stripe="number" autocomplete="cc-number" placeholder="example@example.com" required>

              <button type="submit" class="btn btn-default submit-button btn-block">Submit</button>

            </form>
          </div>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>
